body {
  margin: 0;
  background:#E6E6FA;
  padding: 50px 0px;
}
button.clear {
  background: #f1eceb;
}
table {
  background: #B22222;
  padding: 7px 5px;
  border: 6px solid #00000000;
  text-align: center;
  padding-bottom: 0px;

  border-radius: 10px;
  margin-top: 90px;
}
button.equal {
  width: 88%;
  background: #f5f5f5;
}
button.equal:hover {
  background: #696969;
}
input[type="text"] {
  width: 450px;
  height: 81px;
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 29px;
  background: #000000;
  font-weight: bold;
  margin-bottom: 25px;
  font-family: cursive;
  margin-top: 10px;
  color: #dedede;
  border-bottom: 2px solid #483D8B;
}
button {
  padding: 10px 20px;
  width: 100px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
  font-family: cursive;
  background: #f3f8f5;
  border: none;
  color: #483D8B;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background: #696969;
  color: white;
}

button.back {
  height: 500px;
  background: white ;
}
button.back:hover {
  background: #696969;
}

